.footerContainer {
    border-top: 1px #E3E3E3 solid;
    min-height: auto;
    width: 100%;
}

.linkColumns {
    margin: 4vh 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 8vh;
}

.container h3 {
    font-weight: 700;
    letter-spacing: 0.04em;
}

.linksHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5vh;
    margin-left: 1em;
}

.downArrow {
    display: flex;
    height: 1.5vh;
    margin-right: 1em;
}

.footerDropdown {
    width: 100%;
    min-height: 10vh;
    padding-top: 1em;
    background: white;
}

.footerDropdownLinks {
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    padding-bottom: 1em;

}

.footerDropdownLinks p {
    font-size: 1em;
    font-weight: 700;
    margin-bottom: .5em;
}

.footerLinks {
    display: none;
}

.appStoreFooter {
    width: 25%;
}

.appStore {
    display: none;
}

.byLine {
    width: 100%;
    height: auto;
    margin-top: 3em;
    display: flex;
    flex-direction: row;
}

.byLine a {
    width: auto;
}

.tnf-logo {
    min-height: 4.5em;
    margin-right: 1em;
    margin-left: 0.7em;
}

.copyright {
    height: 6.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: .7em;
    font-weight: 700;
    line-height: 1.35em;
}

.copyright p {
    margin: 0
}

.mobileViewFooterBar {
    display: flex;
    width: 100%;
    height: 2vh;
    background: #E3E3E3;
    margin-top: 1.3em;
}


/*IPAD VIEW*/
@media(min-width: 700px) {

    .footerDropdown {
        display: none;
    }

    .footerContainer {
        border-top: 1px #E3E3E3 solid;
        min-height: 30vh;
        width: 100%;
        padding-bottom: 10vh;
    }

    .footerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        min-height: 100%;
    }

    .linkColumns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        margin-top: 2em;
    }

    .container {
        justify-content: flex-start;
        width: auto;
    }

    .linksHeader {
        margin-left: 0;
    }

    .container h3 {
        font-weight: 900;
        font-size: .9em;
        width: 100%;
    }

    .downArrow {
        display: none;
    }

    .footerLinks {
        display: flex;
        flex-direction: column;
        font-size: .8em;
        line-height: 2.4em;
        padding: 0;
    }

    .footerLinks li {
        font-weight: 600;
        list-style-type: none;

    }

    .appStore {
        display: flex;
        width: 80%;
        margin-top: .5em;
    }

    .byLine {
        height: 8vh;
        margin: 5em 0;
    }

    .tnf-logo {
        height: 100%;
    }

    .copyright {
        height: 100%;
        font-size: .8em;
        margin-left: 2em;
    }

    .mobileViewFooterBar {
        display: none;
    }

}


/*DESKTOP VIEW*/
@media(min-width: 1000px) {

    .footerContent {

        max-width: 60%;
        min-height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .linkColumns {
        margin-top: 4em;
    }

    .container h3 {
        font-size: .925em;
    }

    .byLine {
        width: 85%;
    }

    /*.byLine a {}*/

    .copyright {
        margin-left: 3em;
    }

}